{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="text-blue-500">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/ubuntu/dev/gitlabPro/symfonySetupBasicTailwind/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>/home/ubuntu/dev/gitlabPro/symfonySetupBasicTailwind/templates/home/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
